<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>咨询管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../../public/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../public/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../../public/plugins/adminLTE/css/skins/_all-skins.min.css">
	<script src="../../../public/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../../public/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script language="javascript" src="../../../public/ckeditor/ckeditor.js" charset="utf-8"></script>
    
</head>

<body class="hold-transition skin-red sidebar-mini" >
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">资讯管理     
                       	</h3>
                    </div>

                    <div class="box-body">
                        <!-- 数据表格 -->
                        <div class="table-box">		
                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="添加" data-toggle="modal" data-target="#editModa3" ><i class="fa fa-file-o"></i> 添加</button>
                                        <button type="button" class="btn btn-default" title="刷新" ><i class="fa fa-check"></i> 刷新</button>
                                       
                                    </div>
	                                    
                                </div>
                            </div>   
                            <div class="pull-right">
                            	<form class="form-inline definewidth m20" action="#" method="get">
								    <font color="#777777"><strong>资讯名称：</strong></font>
								    <input type="text" name="menuname" id="menuname"class="abc input-default" placeholder="" value="">&nbsp;&nbsp; 
								    <button type="submit" class="btn btn-default">查询</button>
								</form>
                            </div>                       
                       		
                        </div>
			                <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
										  <th class="sorting_asc">资讯ID</th>
									      <th class="sorting">相关游戏</th>									   
									      <th class="sorting">资讯标题</th>
									      <th class="sorting">上传者ID</th>
									      <th class="sorting">上传时间</th>
									      <th class="sorting">点击数</th>				
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                          
			                          		{volist name="infos" id="info"}
			                          		<tr >
												<td>{$info.infoID}</td>
						                        <td>{$info.gameID}</td>
						                        <td>{$info.infoTitle}</td>
											    <td>{$info.userID}</td>	
											    <td>{$info.infoDate}</td>
											    <td>{$info.infoClick}</td>
												<td class="text-center">
													<button type='button' class='btn bg-olive btn-xs' data-toggle='modal' data-target='#editModal{$info.infoID}' >详细内容</button>
													<button type='button' class='btn bg-olive btn-xs' data-toggle='modal' data-target='#editModa2{$info.infoID}' >修改</button>
													<a href="./content1.html?type=delete&infoID={$info.infoID}"><button type='button' class='btn bg-olive btn-xs' data-toggle='modal' data-target='#' >删除</button></a>
			                                 	</td>
		                                 	</tr>
											{/volist}
			                             

		<a href=""></a>
									  
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->                      
						
							<ul class="pagination" style="float: right;">
								<li><a href="#">&laquo;</a></li>
								<li class="active disabled"><a href="#">1</a></li>
								<li class=""><a href="#">2</a></li>
								<li><a href="#">3</a></li>
								<li><a href="#">4</a></li>
								<li><a href="#">5</a></li>
								<li><a href="#">&raquo;</a></li>
							</ul>

                        </div>
                        <!-- 数据表格 /-->
                        
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
              
                                
<!-- 编辑窗口 -->
{volist name="infos" id="info"}

	<div class='modal fade' id='editModal{$info.infoID}' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>

	  <div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">资讯主要内容</h3>
			</div>
			<div class="modal-body">							
				
				<table class="table table-bordered table-striped"  width="800px">
			      	<tr>{$info.infoContent}
			      	</tr>		  		      	
				 </table>				
				
			</div>
		  </div>
		</div>
	</div>

	<div class='modal fade' id='editModa2{$info.infoID}' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
	  <div class="modal-dialog" >
		<div class="modal-content" style="width: 1000px;right: 250px;bottom: 150px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">资讯主要内容</h3>
			</div>
			<form action="{:url('admin/content1')}?type=change" method="post" id="form{$info.infoID}">
			<div class="modal-body">							
				<table class="table table-bordered table-striped"  width="800px">
			      	<tr>
			      		<td>资讯ID</td>
			      		<td><input type="text" name="infoID" value="{$info.infoID}" readonly="readonly" unselectable="on"></td>
			      	</tr>		
			      	<tr>
			      		<td>相关游戏</td>
			      		<td><input type="text" name="gameID" value="{$info.gameID}"></td>
			      	</tr>
			      	<tr>
			      		<td>资讯标题</td>
			      		<td><input type="text" name="infoTitle" value="{$info.infoTitle}"></td>
			      	</tr>	
			      	<tr>
			      		<td>资讯关键字</td>
			      		<td><input type="text" name="infoKey" value="{$info.infoKey}"></td>
			      	</tr>   	
			      	<tr>
			      		<td>资讯内容</td>
			      		<td><textarea name="infoContent" style="width:650px;height:200px">{$info.infoContent}</textarea></td>
			      	</tr>	
				</table>				
			</div>
			<div class="modal-footer">						
				<button type="submit" class="btn btn-success" aria-hidden="true">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
			</form>
		  </div>
		</div>
	</div>
{/volist}
	<div class="modal fade" id="editModa3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		<div class="modal-content" style="width: 1000px;right: 250px;bottom: 150px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">请输入资讯的相关信息</h3>
			</div>
			<form action="./content1.html?type=add" method="post" id="form{infoID}">
			<div class="modal-body">
				<table class="table table-bordered table-striped"  width="800px">
			      	<tr>
			      		<td>资讯ID</td>
			      		<td><input type="text" name="infoID"></td>
			      	</tr>		
			      	<tr>
			      		<td>相关游戏</td>
			      		<td><input type="text" name="gameID" ></td>
			      	</tr>
			      	<tr>
			      		<td>资讯标题</td>
			      		<td><input type="text" name="infoTitle" ></td>
			      	</tr>	
			      	<tr>
			      		<td>资讯关键字</td>
			      		<td><input type="text" name="infoKey" ></td>
			      	</tr>  	
			      	<tr>
			      		<td>资讯内容</td>
			      		<td><textarea name="infoContent1" style="width:650px;height:200px"></textarea></td>
			      	</tr>	
			      </table>
			</div>
			<div class="modal-footer">						
				<button type="submit" class="btn btn-success" aria-hidden="true">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
			</form>
		  </div>
		</div>
	</div>
</body>
</html>
<script type="text/javascript">
CKEDITOR.replace( 'infoContent',
        {
            toolbar :
                    [
                        //加粗     斜体，     下划线      穿过线      下标字        上标字
                        ['Bold','Italic','Underline','Strike','Subscript','Superscript'],
                        // 数字列表          实体列表            减小缩进    增大缩进
                        ['NumberedList','BulletedList','-','Outdent','Indent'],
                        //左对 齐             居中对齐          右对齐          两端对齐
                        ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                        //超链接  取消超链接 锚点
                        ['Link','Unlink','Anchor'],
                        //图片    flash    表格       水平线            表情       特殊字符        分页符
                        ['Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'],
                        '/',
                        // 样式       格式      字体    字体大小
                        ['Styles','Format','Font','FontSize'],
                        //文本颜色     背景颜色
                        ['TextColor','BGColor'],
                        //全屏           显示区块
                        ['Maximize', 'ShowBlocks','-']
                    ],height:350
        	}
		);
CKEDITOR.replace( 'infoContent1',
        {
            toolbar :
                    [
                        //加粗     斜体，     下划线      穿过线      下标字        上标字
                        ['Bold','Italic','Underline','Strike','Subscript','Superscript'],
                        // 数字列表          实体列表            减小缩进    增大缩进
                        ['NumberedList','BulletedList','-','Outdent','Indent'],
                        //左对 齐             居中对齐          右对齐          两端对齐
                        ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                        //超链接  取消超链接 锚点
                        ['Link','Unlink','Anchor'],
                        //图片    flash    表格       水平线            表情       特殊字符        分页符
                        ['Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'],
                        '/',
                        // 样式       格式      字体    字体大小
                        ['Styles','Format','Font','FontSize'],
                        //文本颜色     背景颜色
                        ['TextColor','BGColor'],
                        //全屏           显示区块
                        ['Maximize', 'ShowBlocks','-']
                    ],height:350
        	}
		);
</script>