<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>咨询管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../../../public/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../../public/plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../../../../public/plugins/adminLTE/css/skins/_all-skins.min.css">
	<script src="../../../../public/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../../../../public/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script language="javascript" src="../../../../public/ckeditor/ckeditor.js" charset="utf-8"></script>
</head>

<body class="hold-transition skin-red sidebar-mini" >
  <!-- .box-body -->
                
                    <div class="box-header with-border">
                        <h3 class="box-title">游戏管理     
                       	</h3>
                    </div>

                    <div class="box-body">
                        <!-- 数据表格 -->
                        <div class="table-box">		
                            <!--工具栏-->
                            <div class="pull-left">
                                <div class="form-group form-inline">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default" title="添加" data-toggle="modal" data-target="#editModa3" ><i class="fa fa-file-o"></i> 添加</button>
                                        <button type="button" class="btn btn-default" title="刷新" ><i class="fa fa-check"></i> 刷新</button>
                                       
                                    </div>
	                                    
                                </div>
                            </div>   
                            <div class="pull-right">
                            	<form class="form-inline definewidth m20" action="./content3?type=search" method="post">
								    <font color="#777777"><strong>游戏名：</strong></font>
								    <input type="text" name="gameName" id="gameName"class="abc input-default" placeholder="" value="">&nbsp;&nbsp; 
								    <button type="submit" class="btn btn-default">查询</button>
								</form>
                            </div>                       
                       		
                        </div>
			                <!--数据列表-->
			                  <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
			                      <thead>
			                          <tr>
										  <th class="sorting_asc">游戏ID</th>
									      <th class="sorting">游戏名称</th>		
									      <th class="sorting">游戏图集所在路径</th>
									      <th class="sorting">游戏类型</th>
									      <th class="sorting">游戏所在平台</th>				
					                      <th class="text-center">操作</th>
			                          </tr>
			                      </thead>
			                      <tbody>
			                      	{volist name='list' id='game'}
			                  		<tr >                       
				                          <td>{$game.gameID}</td>
				                          <td>{$game.gameName}</td>
									      <td>{$game.gameImg}</td>	
									      <td>{$game.gameType}</td>
									      <td>{$game.gamePlat}</td>	
		                                  <td class="text-center">		       
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal{$game.gameID}" >游戏简介</button>	     
		                                 	  <button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModa2{$game.gameID}" >修改</button> 
		                                 	  <a href="./content3.html?type=delete&gameID={$game.gameID}"><button type="button" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#" >删除</button></a>

		                                 </td>
			                          </tr>	
			                  		{/volist}
			                      </tbody>
			                  </table>
			                  <!--数据列表/-->  
							<div class="pagination" style="float: right;">
								{$list->render()}
							</div>

                        </div>
                        <!-- 数据表格 /-->
                        
                        
                        
                        
                     </div>
                    <!-- /.box-body -->
              
                                
<!-- 编辑窗口 -->
{volist name = "games" id="game"}
	<div class="modal fade" id="editModal{$game.gameID}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">游戏简介</h3>
			</div>
			<div class="modal-body">							
				
				<table class="table table-bordered table-striped"  width="800px">
			      	<tr>{$game.gameInfo}
			      	</tr>		  		      	
				 </table>				
				
			</div>
		  </div>
		</div>
	</div>

	<div class="modal fade" id="editModa2{$game.gameID}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		<div class="modal-content" style="width: 1000px;right: 250px;bottom: 150px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">修改</h3>
			</div>
										
			<form action="{:url('admin/content3')}?type=change" method="post" id="form{$game.gameID}">
				<div class="modal-body">
				<table class="table table-bordered table-striped"  width="800px">
			      	<tr>
			      		<td>游戏ID</td>
			      		<td><input type="text" name="gameID" value="{$game.gameID}"></td>
			      	</tr>	
			      	<tr>
			      		<td>游戏名称</td>
			      		<td><input type="text" name="gameName" value="{$game.gameName}"></td>
			      	</tr>
			      	<tr>
			      		<td>游戏所在平台</td>
			      		<td><input type="text" name="gamePlat" value="{$game.gamePlat}"></td>
			      	</tr>
			      	<tr>
			      		<td>游戏类型</td>
			      		<td><input type="text" name="gameType" value="{$game.gameType}"></td>
			      	</tr>
			      	<tr>
			      		<td>游戏图集所在路径</td>
			      		<td><input type="text" name="gameImg" value="{$game.gameImg}"></td>
			      	</tr>	  	
			      	<tr>
			      		<td>游戏简介</td>
			      		<td><textarea name="gameInfo2" style="width:650px;height:200px">{$game.gameInfo}</textarea></td>
			      	</tr>	
				</table>				
			
			</div>
			<div class="modal-footer">						
				<button type = "submit" class="btn btn-success" aria-hidden="true">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
			</form>
		  </div>
		</div>
	</div>
{/volist}
	<div class="modal fade" id="editModa3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog" >
		<div class="modal-content" style="width: 1000px;right: 250px;bottom: 150px;">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">请输入游戏的相关信息</h3>
			</div>
			<form action="{:url('admin/content3')}?type=add" method="post" id="form" enctype = "multipart/form-data">
				<div class="modal-body">
				<table class="table table-bordered table-striped"  width="800px">
			      	<tr>
			      		<td>游戏ID</td>
			      		<td><input type="text" name="gameID"></td>
			      	</tr>	
			      	<tr>
			      		<td>游戏名称</td>
			      		<td><input type="text" name="gameName"></td>
			      	</tr>
			      	<tr>
			      		<td>游戏所在平台</td>
			      		<td><input type="text" name="gamePlat"></td>
			      	</tr>
			      	<tr>
			      		<td>游戏类型</td>
			      		<td><input type="text" name="gameType"></td>
			      	</tr>
			      	<tr>
			      		<td>上传游戏图片</td>
			      		<td></td>
			      	</tr>	 
			      	 <tr>
			      		<td>bg.png</td>
			      		<td><input type="file" name="img[]"></td>
			      	</tr>	
			      	<tr>
			      		<td>0.png</td>
			      		<td><input type="file" name="img[]"></td>
			      	</tr>
			      	<tr>
			      		<td>1.png</td>
			      		<td><input type="file" name="img[]"></td>
			      	</tr>
			      	<tr>
			      		<td>2.png</td>
			      		<td><input type="file" name="img[]"></td>
			      	</tr>
			      	<tr>
			      		<td>3.png</td>
			      		<td><input type="file" name="img[]"></td>
			      	</tr>
			      	<tr>
			      		<td>游戏简介</td>
			      		<td><textarea name="gameInfo1" style="width:650px;height:200px"></textarea></td>
			      	</tr>	
				</table>				
			
			</div>
			<div class="modal-footer">						
				<button type = "submit" class="btn btn-success" aria-hidden="true">保存</button>
				<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
			</div>
			</form>
		  </div>
		</div>
	</div>

</body>
</html>
<script type="text/javascript">
CKEDITOR.replace( 'gameInfo1',
        {
            toolbar :
                    [
                        //加粗     斜体，     下划线      穿过线      下标字        上标字
                        ['Bold','Italic','Underline','Strike','Subscript','Superscript'],
                        // 数字列表          实体列表            减小缩进    增大缩进
                        ['NumberedList','BulletedList','-','Outdent','Indent'],
                        //左对 齐             居中对齐          右对齐          两端对齐
                        ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                        //超链接  取消超链接 锚点
                        ['Link','Unlink','Anchor'],
                        //图片    flash    表格       水平线            表情       特殊字符        分页符
                        ['Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'],
                        '/',
                        // 样式       格式      字体    字体大小
                        ['Styles','Format','Font','FontSize'],
                        //文本颜色     背景颜色
                        ['TextColor','BGColor'],
                        //全屏           显示区块
                        ['Maximize', 'ShowBlocks','-']
                    ],height:350
        	}
		);
CKEDITOR.replace( 'gameInfo2',
        {
            toolbar :
                    [
                        //加粗     斜体，     下划线      穿过线      下标字        上标字
                        ['Bold','Italic','Underline','Strike','Subscript','Superscript'],
                        // 数字列表          实体列表            减小缩进    增大缩进
                        ['NumberedList','BulletedList','-','Outdent','Indent'],
                        //左对 齐             居中对齐          右对齐          两端对齐
                        ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
                        //超链接  取消超链接 锚点
                        ['Link','Unlink','Anchor'],
                        //图片    flash    表格       水平线            表情       特殊字符        分页符
                        ['Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'],
                        '/',
                        // 样式       格式      字体    字体大小
                        ['Styles','Format','Font','FontSize'],
                        //文本颜色     背景颜色
                        ['TextColor','BGColor'],
                        //全屏           显示区块
                        ['Maximize', 'ShowBlocks','-']
                    ],height:350
        	}
		);

</script>