<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>Egames - Gaming Magazine Template</title>

    <!-- Favicon -->
    <link rel="icon" href="../../../../public/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../../../public/css/style1.css">

    <link href="../../../../public/css/style2.css" rel="stylesheet" type="text/css" media="all" />
     	 	<link href="../../../../public/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    
 	<link href="../../../../public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
 	
</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area" data-wow-delay="500ms">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index.html"><img src="../../../../public/img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Search & Login Area -->
                        <div class="search-login-area d-flex align-items-center">
                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form action="#" method="post">
                                    <input type="search" name="top-search" id="topSearch" placeholder="Search">
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <!-- Login Area -->
                            <div class="login-area">
                                <a href="#"><span>Login / Register</span> <i class="fa fa-lock" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="egames-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="egamesNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="hostgame_index.html">主机游戏</a>
                                        <ul class="dropdown">
                                            <li><a href="game-review.html">XBOX</a></li>
                                            <li><a href="single-game-review.html">PS4</a></li>
                                            <li><a href="game-review.html">Wii</a></li>
                                            <li><a href="single-game-review.html">NS</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="singlegame_index.html">单机游戏</a>
                                        <ul class="dropdown">
                                            <li><a href="index.html">RPG</a></li>
                                            <li><a href="post.html">RTS</a></li>
                                            <li><a href="single-post.html">独立</a></li>
                                            <li><a href="game-review.html">休闲</a></li>
                                            <li><a href="single-game-review.html">动作</a></li>
                                            <li><a href="contact.html">射击</a></li>
                                            <li><a href="single-game-review.html">冒险</a></li>
                                            <li><a href="contact.html">竞速</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="onlinegame_index.html">网游</a>
                                        <ul class="dropdown">
                                            <li><a href="post.html">角色扮演</a></li>
                                            <li><a href="single-post.html">动作</a></li>
                                            <li><a href="post.html">竞技</a></li>
                                            <li><a href="single-post.html">休闲</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="mobilegame_index.html">手游</a>
                                        <ul class="dropdown">
                                            <li><a href="game-review.html">角色扮演</a></li>
                                            <li><a href="single-game-review.html">动作</a></li>
                                            <li><a href="game-review.html">冒险</a></li>
                                            <li><a href="single-game-review.html">体育竞速</a></li>
                                            <li><a href="game-review.html">休闲</a></li>
                                            <li><a href="single-game-review.html">经营模拟</a></li>
                                            <li><a href="game-review.html">策略益智</a></li>
                                            <li><a href="single-game-review.html">桌游棋牌</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="contact.html">Contact</a></li>
                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Top Social Info -->
                        <div class="top-social-info">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->

    <!-- single -->
    <div class="single">
            <div class="single-info" style="background-image: url(../../../../public/img/bg-img/5.jpg);">
                <div class="recent-posts" style="padding-bottom: 5em;margin: 0 0 4em;">
                    <h4 style="margin-left: 15%;">Recent <span>Page</span></h4>
                    <div class="recent-posts-grids">
                        <div class="recent-posts-grid">
                            <img src="../../../../public/img/bg-img/26.jpg" alt=" " class="img-responsive" style="position: absolute;margin-left: 15%;" />
                            <div class="recent-posts-grid-pos" style="margin-top: 7%;width: 50%;left: 33%;">
                                <a style="color: #fff;word-wrap:break-word;font-weight: 400">游戏名 ：<span style="color: rgba(23, 162, 184, 1);font-size: 0.9em">sdafa</span></a><br/>
                                <a style="color: #fff;word-wrap:break-word;font-weight: 400">译名 ：<span style="color: rgba(23, 162, 184, 1);font-size: 0.9em">sdafa</span></a><br/>
                                <a style="color: #fff;word-wrap:break-word;font-weight: 400">发行时间 ：<span style="color: rgba(23, 162, 184, 1);font-size: 0.9em">sdafa</span></a><br/>
                                <a style="color: #fff;word-wrap:break-word;font-weight: 400">类型 ：<span style="color: rgba(23, 162, 184, 1);font-size: 0.9em">sdafa</span></a><br/>
                                <a style="color: #fff;word-wrap:break-word;font-weight: 400">平台 ：<span style="color: rgba(23, 162, 184, 1);font-size: 0.9em">sdafa</span></a><br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <!-- //single -->
    <!-- single -->
    <div class="single">
        <div class="container">
            <div class="single-info">
                <div class="recent-posts" style="padding-bottom: 5em;margin: 0 0 0em;">
                   
                </div>
                <div class="col-md-6 banner-bottom-grid-left">
                    <div class="banner-bottom-grid-left-grids">
                        <!-- 轮播 --> 
    					<div >
    					 	<div class="container-fluid" >
        						<div class="row-fluid">
        							<div class="span12">
        								<div class="carousel slide" id="carousel-162589">
        									<ol class="carousel-indicators" style="margin-top:65%;">
        										<li class="active" data-target="#carousel-162589" data-slide-to="0">
        										</li>
        										<li data-target="#carousel-162589" data-slide-to="1">
        										</li>
        										<li data-target="#carousel-162589" data-slide-to="2">
        										</li>
        									</ol>
        									<div class="carousel-inner">
        										<div class="item active">
        											<img alt="" src="../../../../public/img/bg-img/26.jpg" style="margin:0 auto"/>
        										</div>
        										<div class="item">
        											<img alt="" src="../../../../public/img/bg-img/26.jpg" />
        										</div>
        										<div class="item">
        											<img alt="" src="../../../../public/img/bg-img/26.jpg" />
        										</div>
        									</div>
        									 <a class="left carousel-control" href="#carousel-162589" data-slide="prev" style="margin:auto 0;width:50px;">‹</a>
        									 <a class="right carousel-control" href="#carousel-162589" data-slide="next" style="margin:auto 0;width:50px;">›</a>
        								</div>
        							</div>
        						</div>
    						</div>
    					</div>
                        <!-- //轮播 --> 
                    </div>
                </div>
                <div class="col-md-5 banner-bottom-grid-right">
                    <div class="banner-bottom-grid-right-grid1">
                        <h3 style="font-size: 1.5em;color: #fff">游戏简介：<span style="font-size:0.8em">瞎几把搞</span></h3>
                    </div>
                </div>
                <div class="recent-com">
                    <div class="recent-com-grids">
                        <div class="recent-com-grid">
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //single -->
    <!-- single --> 
    <div class="single" style="margin-top:-100px;">
        <div class="container">
            <div class="banner-bottom-grids">
            <div class="col-md-10 banner-bottom-grid-left">
                <h6>最新资讯</h6>
                <div class="banner-bottom-grid-left-grids">
                    <div class="banner-bottom-grid-right-grid1">
                        <ul>
                            <li><a href="single.html">资讯</a></li>
                            <li><a href="single.html">Neque porro quisquam est, qui dolorem.</a></li>
                            <li><a href="single.html">Quis autem vel eum iure reprehenderit qui.</a></li>
                            <li><a href="single.html">Excepteur sint cupidatat non proident.</a></li>
                            <li><a href="single.html">Ut enim ad minim veniam, quis exercitation.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-10 banner-bottom-grid-left">
                <h6>热门攻略</h6>
                <div class="banner-bottom-grid-left-grids">
                    <div class="banner-bottom-grid-right-grid1">
                        <ul>
                            <li><a href="single.html">资讯</a></li>
                            <li><a href="single.html">Neque porro quisquam est, qui dolorem.</a></li>
                            <li><a href="single.html">Quis autem vel eum iure reprehenderit qui.</a></li>
                            <li><a href="single.html">Excepteur sint cupidatat non proident.</a></li>
                            <li><a href="single.html">Ut enim ad minim veniam, quis exercitation.</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        </div>
    </div>
    <!-- //single -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="100ms">
                            <div class="widget-title">
                                <a href="index.html"><img src="../../../../public/img/core-img/logo2.png" alt=""></a>
                            </div>
                            <div class="widget-content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris velit arcu, scelerisque dignissim massa quis, mattis facilisis erat. Aliquam erat volutpat. Sed efficitur diam ut interdum ultricies.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="300ms">
                            <div class="widget-title">
                                <h4>Game Reviews</h4>
                            </div>
                            <div class="widget-content">
                                <nav>
                                    <ul>
                                        <li><a href="#">Doom</a></li>
                                        <li><a href="#">Grand Theft Auto</a></li>
                                        <li><a href="#">Bloodborne</a></li>
                                        <li><a href="#">God of war</a></li>
                                        <li><a href="#">Persona 5</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="500ms">
                            <div class="widget-title">
                                <h4>Usefull Links</h4>
                            </div>
                            <div class="widget-content">
                                <nav>
                                    <ul>
                                        <li><a href="#">Testimanials</a></li>
                                        <li><a href="#">Reviews</a></li>
                                        <li><a href="#">New Games</a></li>
                                        <li><a href="#">Forum</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="700ms">
                            <div class="widget-title">
                                <h4>What’s new</h4>
                            </div>
                            <div class="widget-content">
                                <nav>
                                    <ul>
                                        <li><a href="#">Doom</a></li>
                                        <li><a href="#">Grand Theft Auto</a></li>
                                        <li><a href="#">Bloodborne</a></li>
                                        <li><a href="#">God of war</a></li>
                                        <li><a href="#">Persona 5</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-sm-5">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text"><a href="#">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> - Colorlib All rights reserved | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家"></a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank"></a>

</p>
                    </div>
                    <div class="col-12 col-sm-7">
                        <!-- Footer Nav -->
                        <div class="footer-nav">
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><a href="game-review.html">主机游戏</a></li>
                                <li><a href="post.html">单机游戏</a></li>
                                <li><a href="single-game-review.html">网游</a></li>
                                <li><a href="single-game-review.html">手游</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../../../../public/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../../../../public/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../../../public/js/bootstrap/bootstrap.min.js"></script>
    <script src="../../../../public/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- All Plugins js -->
    <script src="../../../../public/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../../../../public/js/active.js"></script>
</body>

</html>