<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>LCZgames - 网游主页</title>

    <!-- Favicon -->
    <link rel="icon" href="../../../../public/img/core-img/favicon.ico">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="../../../../public/css/style1.css">

     <!-- Enen Link Start -->
    <link href="../../../../public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />

    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="../../../../public/css/style2.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Freelancer-plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


    <!-- Enen Link End -->

    <!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="../../../../public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="../../../../public/css/style2.css" rel="stylesheet" type="text/css" media="all" />


</head>

<body>
    <!-- Preloader -->
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 d-flex align-items-center justify-content-between">
                        <!-- Logo Area -->
                        <div class="logo">
                            <a href="index.html"><img src="../../../../public/img/core-img/logo.png" alt=""></a>
                        </div>

                        <!-- Search & Login Area -->
                        <div class="search-login-area d-flex align-items-center">
                            <!-- Top Search Area -->
                            <div class="top-search-area">
                                <form action="#" method="post">
                                    <input type="search" name="top-search" id="topSearch" placeholder="搜索">
                                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                                </form>
                            </div>
                            <!-- Login Area -->
                            <div class="login-area">
                                {if !isset($_COOKIE["userID"])}
                            		<a href='login.html'><span>登录 / 注冊</span> <i class='fa fa-lock' aria-hidden='true'></i></a>
                           		{/if}                            
                           	</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="egames-main-menu" id="sticker">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="egamesNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- Close Button -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">首页</a></li>
                                    <li><a href="hostgame_index.html">主机游戏</a>
                 
                                    </li>
                                    <li><a href="singlegame_index.html">单机游戏</a>
                                        
                                    </li>
                                    <li><a href="#">网游</a>

                                        <ul class="dropdown">
                                            <li><a href="#hot">热门游戏</a></li>
                                            <li><a href="#new">新游上市</a></li>
                                            <li><a href="#rpg">角色扮演类游戏</a></li>
                                            <li><a href="#act">动作类游戏</a></li>
                                            <li><a href="#moba">竞技类游戏</a></li>
                                            <li><a href="#xx">休闲类游戏</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="mobilegame_index.html">手游</a>
                                        

                                    </li>

                                    <li><a href="contact.html">联系</a></li>

                                </ul>
                            </div>
                            <!-- Nav End -->
                        </div>

                        <!-- Top Social Info -->
                        <div class="top-social-info" style="right:25%;position: absolute;">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Behance"><i class="fa fa-behance" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </div>
                        {if isset($_COOKIE["userID"])}
                        	<div class=" classynav" style="right:10%;position: absolute;">
                                <ul >
                                    <li><a>HELLEO:</a></li>
                                    <li><a href="#">{$userInfo["userName"]}</a>
                                        <ul class="dropdown">
                                            <li><a href="{:url('index_user')}?userID={$userInfo['userID']}">管理个人信息</a></li>
                                            <li><a href="index.html?type=logout">注销</a></li>
                                        </ul>
                                    </li>
                                </ul>
						</div>
                        {/if}
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->




     <!-- ##### Hero Area Start ##### -->
    <div class="hero-area">
        <!-- Hero Post Slides -->
        <div class="hero-post-slides owl-carousel">

            <!-- Single Slide -->
            {volist name = "hotgames" id = "game"}
            <div class="single-slide bg-img bg-overlay" style="background-image: url(../../../../public/uploads/{$game.gameID}/1.jpg);">
                <!-- Blog Content -->
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12 col-lg-9">
                            <div class="blog-content" data-animation="fadeInUp" data-delay="100ms">
                                <h2 data-animation="fadeInUp" data-delay="400ms">{$game.gameName}</h2>
                                <p data-animation="fadeInUp" data-delay="700ms">{$game.gameInfo}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
			{/volist}

        </div>
    </div>
    <!-- ##### Hero Area End ##### -->


    <!-- ##### Green Start ##### -->
    <div class="container">
        <div class="banner-bottom-grids">
            <div class="col-md-6 banner-bottom-grid-left">
                <h6>最新资讯</h6>
                <div class="banner-bottom-grid-left-grids">
                    <div class="banner-bottom-grid-left-grid">
                        <div class="col-md-5 banner-bottom-grid-left-gridl">
                            <img src="../../../../public/img/bg-img/2.jpg" alt=" " class="img-responsive" />
                            <div class="banner-bottom-grid-left-gridl-pos">
                                <h4>25th<span>March</span> 2016</h4>
                            </div>
                        </div>
                        <div class="col-md-5 banner-bottom-grid-left-gridr">
                            <h3> {volist name = "infosh1" id = "info"}<a href="{:url('information_page')}?infoID={$info.infoID}">{$info.infoTitle}{/volist}</a></h3>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="banner-bottom-grid-right-grid1">
                        <ul>
                            {volist name = "infos1" id = "info"}
                            <li><a href="{:url('information_page')}?infoID={$info.infoID}">{$info.infoTitle}</a></li>
                            {/volist}
                             <li><a href="{:url('news')}">更多...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6 banner-bottom-grid-left">
                <h6>热门资讯</h6>
                <div class="banner-bottom-grid-left-grids">
                    <div class="banner-bottom-grid-left-grid">
                        <div class="col-md-5 banner-bottom-grid-left-gridl">
                            <img src="../../../../public/img/bg-img/2.jpg" alt=" " class="img-responsive" />
                            <div class="banner-bottom-grid-left-gridl-pos">
                                <h4>25th<span>March</span> 2016</h4>
                            </div>
                        </div>
                        <div class="col-md-5 banner-bottom-grid-left-gridr">
                            <h3>{volist name = "infosh2" id = "info"}<a href="{:url('information_page')}?infoID={$info.infoID}">{$info.infoTitle}{/volist}</a></h3>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                    <div class="banner-bottom-grid-right-grid1">
                        <ul>
                            {volist name = "infos2" id = "info"}
                            <li><a href="{:url('information_page')}?infoID={$info.infoID}">{$info.infoTitle}</a></li>
                            {/volist}
                             <li><a href="{:url('news')}">更多...</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <!-- ##### Green End ##### -->

    <!-- ##### Enen Area Start ##### -->
    <section class="latest-articles-area section-padding-100-0 bg-img bg-pattern bg-fixed" style="background-image: url(../../../../public/img/bg-img/5.jpg);">
        <div class="container works bg-pattern" id = "hot">
        <div class="works" id="portfolio">
            <div class=" port-top">
                <h3 class="port" style="color: #fff;">热门游戏</h3>
                <ul id="filters" style="margin-top: 20px">
                    <li class="active"><span class="filter " data-filter="app card icon set sit web"><a href="Allgame.html" style="color: #fff">更多</a></span></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div id="portfoliolist">
              	{volist name = "hotgames" id = "game" mod="5" }
                {eq name="mod" value="0"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;width: 46%;margin-left: 0;">{/eq}
                {eq name="mod" value="1"}<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">{/eq}
                {eq name="mod" value="2"}<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;float: right;border:0;">{/eq}
                {eq name="mod" value="3"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;margin-top: 0px;">{/eq}
                {eq name="mod" value="4"}<div class="portfolio add mix_all" data-cat="add" style="display: inline-block; opacity: 1;margin:0 0 2% 2.5%;float: right;">{/eq}
                    <div class="portfolio-wrapper">
                        <a href="{:url('game_page')}?gameID={$game.gameID}" class="b-link-stripe b-animate-go">
                        <img class="img-responsive" src="../../../../public/uploads/{$game.gameID}/0.jpg" alt=""  />
	                        <div class="b-wrapper" class="b-link-stripe b-animate-go">
		                            <h2 class="b-animate b-from-left ">
		                                <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);line-height: 1.44;font-size: 2rem;text-transform: uppercase;padding-top: 50%;display: block;font-weight: 400;padding-left: 2rem;letter-spacing: 0.04em;word-wrap: break-word;">游戏名</div>
		                                <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);letter-spacing: 0.04em;position: relative;width: 100%;line-height: 1.44;text-overflow: ellipsis;font-weight: 400;font-size: 1.5rem;text-transform: uppercase;display: block;padding-left: 2rem;color: #b2bcd8;word-wrap: break-word;">{$game.gameName}</div>
		                                <p style="margin: 0.4rem 0;padding: 0;font-size: 1.2rem;line-height: 1.44;padding-left: 2rem;color: rgba(35, 204, 251, 1);">{$game.gameType}</p>
		                            </h2>
	                        </div>
                        </a>
                    </div>
                </div>
                {/volist}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    </section>
    <!-- ##### Enen Area End ##### -->

    <!-- ##### Enen Area Start ##### -->
    <div class="egames-video-area section-padding-100 bg-pattern2" id = "new">
    <div class="container">
        <div class="works" id="portfolio">
            <div class=" port-top">
                <h3 class="port">新游上市</h3>
                <ul id="filters" style="margin-top: 20px">
                    <li class="active"><span class="filter " data-filter="app card icon set sit web"><a href="Allgame.html" style="color: #fff">更多</a></span></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div id="portfoliolist">
                {volist name = "newgames" id = "game" mod="5"}
                {eq name="mod" value="0"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;width: 46%;margin-left: 0;">{/eq}
                {eq name="mod" value="1"}<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">{/eq}
                {eq name="mod" value="2"}<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;float: right;border:0;">{/eq}
                {eq name="mod" value="3"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;margin-top: 0px;">{/eq}
                {eq name="mod" value="4"}<div class="portfolio add mix_all" data-cat="add" style="display: inline-block; opacity: 1;margin:0 0 2% 2.5%;float: right;">{/eq}
                    <div class="portfolio-wrapper">
                        <a href="{:url('game_page')}?gameID={$game.gameID}" class="b-link-stripe b-animate-go">
                        <img class="img-responsive" src="../../../../public/uploads/{$game.gameID}/0.jpg" alt=""  />
	                        <div class="b-wrapper" class="b-link-stripe b-animate-go">
		                            <h2 class="b-animate b-from-left ">
		                                <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);line-height: 1.44;font-size: 2rem;text-transform: uppercase;padding-top: 50%;display: block;font-weight: 400;padding-left: 2rem;letter-spacing: 0.04em;word-wrap: break-word;">{$game.gameName}</div>
                                        <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);letter-spacing: 0.04em;position: relative;width: 100%;line-height: 1.44;text-overflow: ellipsis;font-weight: 400;font-size: 1.5rem;text-transform: uppercase;display: block;padding-left: 2rem;color: #b2bcd8;word-wrap: break-word;">{$game.gamePlat}</div>
                                        <p style="margin: 0.4rem 0;padding: 0;font-size: 1.2rem;line-height: 1.44;padding-left: 2rem;color: rgba(35, 204, 251, 1);">{$game.gameType}</p>
		                            </h2>
	                        </div>
                        </a>
                    </div>
                </div>
                {/volist}
                <div class="clearfix"> </div>
            </div>
        </div>
        </div>
    </div>
    <!-- ##### Enen Area End ##### -->

    <!-- ##### Enen Area Start ##### -->
        <section class="latest-articles-area section-padding-100-0 bg-img bg-pattern bg-fixed" style="background-image: url(../../../../public/img/bg-img/5.jpg);">
    
        <div class="container works bg-pattern" id = "rpg">
        <div class="works" id="portfolio">
            <div class=" port-top">
                <h3 class="port" style="color: #fff;">角色扮演</h3>
                <ul id="filters" style="margin-top: 20px">
                    <li class="active"><span class="filter " data-filter="app card icon set sit web"><a href="Allgame.html" style="color: #fff">更多</a></span></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div id="portfoliolist">
                {volist name = "rpggames" id = "game" mod="5"}
                {eq name="mod" value="0"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;width: 46%;margin-left: 0;">{/eq}
                {eq name="mod" value="1"}<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">{/eq}
                {eq name="mod" value="2"}<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;float: right;border:0;">{/eq}
                {eq name="mod" value="3"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;margin-top: 0px;">{/eq}
                {eq name="mod" value="4"}<div class="portfolio add mix_all" data-cat="add" style="display: inline-block; opacity: 1;margin:0 0 2% 2.5%;float: right;">{/eq}
                    <div class="portfolio-wrapper">
                        <a href="{:url('game_page')}?gameID={$game.gameID}" class="b-link-stripe b-animate-go">
                        <img class="img-responsive" src="../../../../public/uploads/{$game.gameID}/0.jpg" alt=""  />
	                        <div class="b-wrapper" class="b-link-stripe b-animate-go">
		                            <h2 class="b-animate b-from-left ">
		                                <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);line-height: 1.44;font-size: 2rem;text-transform: uppercase;padding-top: 50%;display: block;font-weight: 400;padding-left: 2rem;letter-spacing: 0.04em;word-wrap: break-word;">{$game.gameName}</div>
                                        <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);letter-spacing: 0.04em;position: relative;width: 100%;line-height: 1.44;text-overflow: ellipsis;font-weight: 400;font-size: 1.5rem;text-transform: uppercase;display: block;padding-left: 2rem;color: #b2bcd8;word-wrap: break-word;">{$game.gamePlat}</div>
                                        <p style="margin: 0.4rem 0;padding: 0;font-size: 1.2rem;line-height: 1.44;padding-left: 2rem;color: rgba(35, 204, 251, 1);">{$game.gameType}</p>
		                            </h2>
	                        </div>
                        </a>
                    </div>
                </div>
                {/volist}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    </section>
    <!-- ##### Enen Area End ##### -->

    <!-- ##### Enen Area Start ##### -->
    <div class="egames-video-area section-padding-100 bg-pattern2" id = "act">
    <div class="container">
        <div class="works" id="portfolio">
            <div class=" port-top">
                <h3 class="port" >动作游戏 </h3>
                <ul id="filters" style="margin-top: 20px">
                    <li class="active"><span class="filter " data-filter="app card icon set sit web"><a href="Allgame.html" style="color: #fff">更多</a></span></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div id="portfoliolist">
               {volist name = "actgames" id = "game" mod="5"}
                {eq name="mod" value="0"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;width: 46%;margin-left: 0;">{/eq}
                {eq name="mod" value="1"}<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">{/eq}
                {eq name="mod" value="2"}<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;float: right;border:0;">{/eq}
                {eq name="mod" value="3"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;margin-top: 0px;">{/eq}
                {eq name="mod" value="4"}<div class="portfolio add mix_all" data-cat="add" style="display: inline-block; opacity: 1;margin:0 0 2% 2.5%;float: right;">{/eq}
                    <div class="portfolio-wrapper">
                        <a href="{:url('game_page')}?gameID={$game.gameID}" class="b-link-stripe b-animate-go">
                        <img class="img-responsive" src="../../../../public/uploads/{$game.gameID}/0.jpg" alt=""  />
	                        <div class="b-wrapper" class="b-link-stripe b-animate-go">
		                            <h2 class="b-animate b-from-left ">
		                                <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);line-height: 1.44;font-size: 2rem;text-transform: uppercase;padding-top: 50%;display: block;font-weight: 400;padding-left: 2rem;letter-spacing: 0.04em;word-wrap: break-word;">{$game.gameName}</div>
                                        <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);letter-spacing: 0.04em;position: relative;width: 100%;line-height: 1.44;text-overflow: ellipsis;font-weight: 400;font-size: 1.5rem;text-transform: uppercase;display: block;padding-left: 2rem;color: #b2bcd8;word-wrap: break-word;">{$game.gamePlat}</div>
                                        <p style="margin: 0.4rem 0;padding: 0;font-size: 1.2rem;line-height: 1.44;padding-left: 2rem;color: rgba(35, 204, 251, 1);">{$game.gameType}</p>
		                            </h2>
	                        </div>
                        </a>
                    </div>
                </div>
                {/volist}
                <div class="clearfix"> </div>
            </div>
        </div>
        </div>
    </div>
    <!-- ##### Enen Area End ##### -->

    <!-- ##### Enen Area Start ##### -->
        <section class="latest-articles-area section-padding-100-0 bg-img bg-pattern bg-fixed" style="background-image: url(../../../../public/img/bg-img/5.jpg);">
    
        <div class="container works bg-pattern" id = "moba">
        <div class="works" id="portfolio">
            <div class=" port-top">
                <h3 class="port" style="color: #fff;">竞技游戏</h3>
                <ul id="filters" style="margin-top: 20px">
                    <li class="active"><span class="filter " data-filter="app card icon set sit web"><a href="Allgame.html" style="color: #fff">更多</a></span></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div id="portfoliolist">
                {volist name = "mobagames" id = "game" mod="5"}
                {eq name="mod" value="0"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;width: 46%;margin-left: 0;">{/eq}
                {eq name="mod" value="1"}<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">{/eq}
                {eq name="mod" value="2"}<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;float: right;border:0;">{/eq}
                {eq name="mod" value="3"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;margin-top: 0px;">{/eq}
                {eq name="mod" value="4"}<div class="portfolio add mix_all" data-cat="add" style="display: inline-block; opacity: 1;margin:0 0 2% 2.5%;float: right;">{/eq}
                    <div class="portfolio-wrapper">
                        <a href="{:url('game_page')}?gameID={$game.gameID}" class="b-link-stripe b-animate-go">
                        <img class="img-responsive" src="../../../../public/uploads/{$game.gameID}/0.jpg" alt=""  />
	                        <div class="b-wrapper" class="b-link-stripe b-animate-go">
		                            <h2 class="b-animate b-from-left ">
		                                <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);line-height: 1.44;font-size: 2rem;text-transform: uppercase;padding-top: 50%;display: block;font-weight: 400;padding-left: 2rem;letter-spacing: 0.04em;word-wrap: break-word;">{$game.gameName}</div>
                                        <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);letter-spacing: 0.04em;position: relative;width: 100%;line-height: 1.44;text-overflow: ellipsis;font-weight: 400;font-size: 1.5rem;text-transform: uppercase;display: block;padding-left: 2rem;color: #b2bcd8;word-wrap: break-word;">{$game.gamePlat}</div>
                                        <p style="margin: 0.4rem 0;padding: 0;font-size: 1.2rem;line-height: 1.44;padding-left: 2rem;color: rgba(35, 204, 251, 1);">{$game.gameType}</p>
		                            </h2>
	                        </div>
                        </a>
                    </div>
                </div>
                {/volist}
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    </section>
    <!-- ##### Enen Area End ##### -->

    <!-- ##### Enen Area Start ##### -->
    <div class="egames-video-area section-padding-100 bg-pattern2" id = "xx">
    <div class="container">
        <div class="works" id="portfolio">
            <div class=" port-top">
                <h3 class="port">休闲类游戏</h3>
                <ul id="filters" style="margin-top: 20px">
                    <li class="active"><span class="filter " data-filter="app card icon set sit web"><a href="Allgame.html" style="color: #fff">更多</a></span></li>
                </ul>
                <div class="clearfix"> </div>
            </div>
            <div id="portfoliolist">
                {volist name = "fpsgames" id = "game" mod="5"}
                {eq name="mod" value="0"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;width: 46%;margin-left: 0;">{/eq}
                {eq name="mod" value="1"}<div class="portfolio icon mix_all" data-cat="icon" style="display: inline-block; opacity: 1;">{/eq}
                {eq name="mod" value="2"}<div class="portfolio card mix_all" data-cat="card" style="display: inline-block; opacity: 1;float: right;border:0;">{/eq}
                {eq name="mod" value="3"}<div class="portfolio app mix_all" data-cat="app" style="display: inline-block; opacity: 1;margin-top: 0px;">{/eq}
                {eq name="mod" value="4"}<div class="portfolio add mix_all" data-cat="add" style="display: inline-block; opacity: 1;margin:0 0 2% 2.5%;float: right;">{/eq}
                    <div class="portfolio-wrapper">
                        <a href="{:url('game_page')}?gameID={$game.gameID}" class="b-link-stripe b-animate-go">
                        <img class="img-responsive" src="../../../../public/uploads/{$game.gameID}/0.jpg" alt=""  />
	                        <div class="b-wrapper" class="b-link-stripe b-animate-go">
		                            <h2 class="b-animate b-from-left ">
		                                <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);line-height: 1.44;font-size: 2rem;text-transform: uppercase;padding-top: 50%;display: block;font-weight: 400;padding-left: 2rem;letter-spacing: 0.04em;word-wrap: break-word;">{$game.gameName}</div>
                                        <div style="text-shadow: 0px 1px 0px rgba(0,0,0,0.32);letter-spacing: 0.04em;position: relative;width: 100%;line-height: 1.44;text-overflow: ellipsis;font-weight: 400;font-size: 1.5rem;text-transform: uppercase;display: block;padding-left: 2rem;color: #b2bcd8;word-wrap: break-word;">{$game.gamePlat}</div>
                                        <p style="margin: 0.4rem 0;padding: 0;font-size: 1.2rem;line-height: 1.44;padding-left: 2rem;color: rgba(35, 204, 251, 1);">{$game.gameType}</p>
		                            </h2>
	                        </div>
                        </a>
                    </div>
                </div>
                {/volist}
                <div class="clearfix"> </div>
            </div>
            <!-- Script for gallery Here -->
                <script type="text/javascript">
                $(function () {

                    var filterList = {

                        init: function () {

                            // MixItUp plugin
                            // http://mixitup.io
                            $('#portfoliolist').mixitup({
                                targetSelector: '.portfolio',
                                filterSelector: '.filter',
                                effects: ['fade'],
                                easing: 'snap',
                                // call the hover effect
                                onMixEnd: filterList.hoverEffect()
                            });

                        },

                        hoverEffect: function () {

                            // Simple parallax effect
                            $('#portfoliolist .portfolio').hover(
                                function () {
                                    $(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
                                    $(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');
                                },
                                function () {
                                    $(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
                                    $(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');
                                }
                            );

                        }

                    };

                    // Run the show!
                    filterList.init();
                });
                </script>
            <!-- Gallery Script Ends -->
        </div>
    </div>
    </div>
    <!-- ##### Enen Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <!-- Main Footer Area -->
        <div class="main-footer-area section-padding-100-0">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="100ms">
                            <div class="widget-title">
                                <a href="index.html"><img src="../../../../public/img/core-img/logo2.png" alt=""></a>
                            </div>
                            <div class="widget-content">
                                <p>本攻略网站，由3名东莞理工学院学子共同倾力打造。采用tinkphp框架技术，通过github通力协作实现的一次PHP项目。</p>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3"></div>
                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="500ms">
                            <div class="widget-title">
                                <h4>友情链接</h4>
                            </div>
                            <div class="widget-content">
                                <nav>
                                    <ul>
                                        <li><a href="http://www.tgbus.com/">电玩巴士</a></li>
                                        <li><a href="http://www.duowan.com/">多玩网</a></li>
                                        <li><a href="https://www.gamersky.com/">游民星空</a></li>
                                        <li><a href="https://www.3dmgame.com/">3DM游戏网</a></li>
                                        <li><a href="http://www.ali213.net/">游侠网</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                    <!-- Single Footer Widget -->
                    <div class="col-12 col-sm-6 col-lg-3">
                        <div class="single-footer-widget mb-70 wow fadeInUp" data-wow-delay="700ms">
                            <div class="widget-title">
                                <h4>主编推荐游戏</h4>
                            </div>
                            <div class="widget-content">
                                <nav>
                                    <ul>
                                        <li><a href="{:url('information_page')}?infoID=11">Doom</a></li>
                                        <li><a href="{:url('information_page')}?infoID=12">Grand Theft Auto</a></li>
                                        <li><a href="{:url('information_page')}?infoID=13">Bloodborne</a></li>
                                        <li><a href="{:url('information_page')}?infoID=14">God of war</a></li>
                                        <li><a href="{:url('information_page')}?infoID=15">Persona 5</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Copywrite Area -->
        <div class="copywrite-content">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 col-sm-5">
                        <!-- Copywrite Text -->
                        <p class="copywrite-text"><a href="#">
Copyright &copy;<script>document.write(new Date().getFullYear());</script> - Colorlib All rights reserved | More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家"></a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank"></a>

</p>
                    </div>
                    <div class="col-12 col-sm-7">
                        <!-- Footer Nav -->
                        <div class="footer-nav">
                            <ul>
                                <li><a href="index.html">首页</a></li>
                                <li><a href="hostgame_index.html">主机游戏</a></li>
                                <li><a href="singlegame_index.html">单机游戏</a></li>
                                <li><a href="onlinegame_index.html">网游</a></li>
                                <li><a href="mobliegame_index.html">手游</a></li>
                                <li><a href="contact.html">联系</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### All Javascript Script ##### -->
    <!-- jQuery-2.2.4 js -->
    <script src="../../../../public/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="../../../../public/js/bootstrap/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="../../../../public/js/bootstrap/bootstrap.min.js"></script>
    <!-- All Plugins js -->
    <script src="../../../../public/js/plugins/plugins.js"></script>
    <!-- Active js -->
    <script src="../../../../public/js/active.js"></script>

</html>